body {
  background-image: url('../images/crossfit-background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6, footer {
  font-family: 'Raleway', sans-serif;
  color: white;
}

h1, h2 {
  margin: 0;
  padding: 0;
  /* padding-left: 10px; */
  text-shadow: 3px 3px black,
               2px 2px black,
               1px 1px black;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  margin-top: 0;
  text-shadow: 0 0 1px white;
}

header h1 {
  letter-spacing: 0.1vw;
}


h2 {
  font-size: 18px;
  font-weight: lighter;
  margin-left: 10px;
  margin-top: 2vw;
  text-shadow: 0 0 0.5px white;
  white-space: nowrap;
  height: 100%;
  width: 50%;
}

header h2 {
  font-size: 16px;
}

#header {
  margin-left: 0;
  padding: 2px;
  height: 10vh;
  position: sticky;
  top: 0px;
  background-image: linear-gradient(hsla(360, 100%, 0%, 1), hsla(360, 100%, 0%, 0.80));
  display: grid;
  grid-template-columns: 3fr  7fr;
  align-items: center;
  justify-items: center;
}

#heading {
  justify-self: start;
  padding-left: 2vw;
}


header ul {
  margin: 1vw;
  padding: 1vw;
  list-style: none;
}
li {
  margin: 0.5vw;
}
header li {
  display: inline-block;
  margin-left: 3vw;
  padding: 0.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1vw

}

header a {
  text-decoration: none;
  color: white;
  text-shadow: 0.2px 0.2px 0.2px lightgrey;
}

header a:hover {
  color: white;
  text-shadow: 0.5px 0.5px 0.5px lightgrey;
}

#main-nav {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-self: end;
  align-self: center;
  padding-right: 2vw;
}



#main {
  font-size: 42px;
  background-color: hsla(360, 100%, 0%, 0.1);
  display: flex;
  flex-wrap: wrap;
  min-height: 85vh;
}

#footer {
  min-height: 5vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-shadow: 0 0 0.5px white;
  background-image: linear-gradient( hsla(360, 100%, 0%, 0.5), hsla(360, 100%, 0%, 1) );
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
}


dialog {
  padding: 0;
  margin-top: 1vh;
  margin-bottom: 5vw;
  border: 0;
  box-shadow: 0 0 1em black;
  top: 1vh;
  width: 80vw;
}

dialog::backdrop {
  /* make the backdrop a semi-transparent black */
  background-color: rgba(0, 0, 0, 0.6);
}


#input-form {
  background-color: hsla(360, 0%, 100%, 0.8);
  margin: 0;
  padding: 1vw;
  /* border: 3px dotted white; */
  border-radius: 3px;
}

#submit {
  font-size: 24px;
}

.wod-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  height: 350px;
  width: 250px;
  background-color: hsla(360, 0%, 50%, 0.8);
  border: 1px dashed white;
  color: white;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
}

.tile-list {
  list-style-image: none;
}


.radio-group {
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.radio-group input {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid grey;
  margin-left: -1px;
  margin-right: -1px;
}
.radio-group label:first-of-type {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.radio-group label:last-of-type {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.radio-group label:hover {
  background-color: hsl(329, 70%, 86%);
}

.radio-group input:checked + label{
  background: hsl(330, 91%, 67%);
}

.info-article {
  background: hsla(360, 100%, 0%, 0.5);
  color: hsla(360, 90%, 100%, 1);
}
